{% extends "layout.html" %}
{% block title %}ユーザ作成{% endblock %}
{% block contents %}
<div class="container">
  <div class="space-50"></div>
  {% if success_message %}
    <div class="space-10"></div>
    <div class="alert alert-primary" role="alert">{{ success_message }}</div>
    <div class="space-10"></div>
  {% endif %}
  {% if warn_message %}
    <div class="space-10"></div>
    <div class="alert alert-warning" role="alert">{{ warn_message }}</div>
    <div class="space-10"></div>
  {% endif %}
  {% if error_message %}
    <div class="space-10"></div>
    <div class="alert alert-danger" role="alert">{{ error_message }}</div>
    <div class="space-10"></div>
  {% endif %}
  <div class="login-frame">
    <div class="space-40"></div>
    <form method="post" action="{% url 'user_create' %}">
    {% csrf_token %}
      <div class="mb-3">
        <input type="password" id="password" class="form-control bg-light placeholder" name="password" placeholder="パスワード" required />
      </div>
      <div class="mb-3">
        <select id="company_cd" class="form-select" name="company_cd" required>
          <option selected disabled value="" style="display:none;">企業コード</option>
          {% for mt in company_mt_list %}
          <option value={{ mt.company_cd }}>{{ mt.company_cd }} : {{ mt.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <select id="division_cd" class="form-select" name="division_cd" required>
          <option selected disabled value="" style="display:none;">部署コード</option>
          {% for mt in division_mt_list %}
          <option value={{ mt.division_cd }}>{{ mt.division_cd }} : {{ mt.name }}</option>
          {% endfor %}
        </select>
      </div>
      <input type="submit" class="btn btn-primary login-button bold" value="作成" />
    </form>
  <div class="space-10"></div>
  </div>
</div>
{% endblock %}