{% extends 'layout.html' %} 
{% block title %}ユーザ一覧{% endblock %} 
{% block contents %}
  <h2>ユーザ一覧</h2>

  <div>---</div>
  <table class="table">
    <tr>
      <th scope="col">ユーザID</th>
      <th scope="col">パスワード</th>
      <th scope="col">企業CD</th>
      <th scope="col">部署CD</th>
      <th scope="col">登録日時</th>
      <th scope="col">更新日時</th>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{ user.seq_user_id }}</td>
      <td>{{ user.password }}</td>
      <td>{{ user.company_cd }}</td>
      <td>{{ user.division_cd }}</td>
      <td>{{ user.reg_date }}</td>
      <td>{{ user.update_date }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}