{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} | 勤怠管理アプリ</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/layout.css' %}"/>
    <link rel="icon" type="image/png" href="{% static 'icon/favicon.ico' %}" />
  </head>
  <body>
    {% comment %} ヘッダ設定 {% endcomment %}
    <div id="header" class="header bg-gradient">
      <div class="header-title">勤怠管理アプリ</div>
      {% if request.session.seqUserId %}
      <div class="header-seq-user-id">ユーザID:{{ request.session.seqUserId }}</div>
      <div class="header-logout">
        <a class="hide-anker white" href="{% url 'login' %}">ログアウト</a>
      </div>
      {% endif %}
    </div>

    {% comment %} コンテンツ大枠 {% endcomment %}
    <div class="contents">

      {% if request.session.seqUserId %}
      {% comment %} メニューリンク設定 {% endcomment %}
      <div class="contents-menu bg-gradient">
        <div class="contents-menu-icon">
          <a href="{% url 'index' %}">
            <img src="{% static 'icon/icon-home.png' %}" />
          </a>
        </div>
        <div class="contents-menu-icon">
          <a href="{% url 'index' %}">
            <img src="{% static 'icon/icon-time.png' %}" />
          </a>
        </div>
        <div class="contents-menu-icon">
          <a href="{% url 'user_edit' %}">
            <img src="{% static 'icon/icon-setting.png' %}" />
          </a>
        </div>
      </div>
      {% endif %}

      {% comment %} 各画面のコンテンツ設定 {% endcomment %}
      <div class="contents-main">{% block contents %}{% endblock %}</div>
    </div>

    {% comment %} フッタ設定 {% endcomment %}
    <div class="footer">
      <div class="footer-fix">&copy; copyright. KINTAI {% now "Y" %}</div>
    </div>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script>
      function fixedAnime() {
        var headerH = $("#header").outerHeight(true);
        var scroll = $(window).scrollTop();
        if (scroll >= headerH) {
          //headerの高さ以上になったら
          $("#header").addClass("header-fix");
        } else {
          //それ以外は
          $("#header").removeClass("header-fix");
        }
      }

      // 画面をスクロールをしたら動かしたい場合
      $(window).scroll(function () {
        fixedAnime();
      });

      // ページが読み込まれたらすぐに動かしたい場合
      $(window).on('load', function () {
        fixedAnime();
      });
    </script>
  </body>
</html>
