html,
body {
    height: 100%;
}

/* layout:ヘッダ */
div.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #a725f1;
    color: white;
}

div.header-fix {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}

div.header-title {
    font-size: 23px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 11px;
    padding-right: 50px;
}

div.header-seq-user-id {
    padding-top: 17px;
    padding-bottom: 11px;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 14px;
    margin-left: auto;
}

div.header-logout {
    padding-top: 17px;
    padding-bottom: 11px;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 14px;
}

div.contents {
    height: 91%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

div.contents-menu {
    height: 100%;
    background-color: #a725f1;
}

div.contents-menu-icon {
    padding: 11px;
}

div.contents-main {
    padding-top: 20px;
    flex-grow: 1;
}

/* layout:フッタ */
div.footer {
    background-color: #b4b2b2;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
}

/* layout:下線を消す */
.hide-anker {
    text-decoration: none;
}

/* layout:文字色:青 */
.blue {
    color: #0095f6;
}

/* layout:文字色:紺 */
.navy {
    color: #00376b;
}

/* layout:文字色:白 */
.white {
    color: white;
}

/* layout:太文字化 */
.bold {
    font-weight: bold;
}

/* layout:幅調整用 */
.space-50 {
    margin: 50px;
}

/* layout:幅調整用 */
.space-40 {
    margin: 40px;
}

/* layout:幅調整用 */
.space-30 {
    margin: 30px;
}

/* layout:幅調整用 */
.space-20 {
    margin: 20px;
}

/* layout:幅調整用 */
.space-10 {
    margin: 10px;
}

/* login:ログイン枠 */
.login-frame {
    width: 320px;
    align-items: center;
    border: 1px solid;
    border-color: #dbdbdb;
    border-radius: 1px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font-size: 100%;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
    position: relative;
    vertical-align: baseline;
}

/* login:ボタン幅 */
.login-button {
    width: 100%;
}

/* login:メッセージ設定1 */
.user-password-check-message {
    font-size: 12px;
}

/* login:メッセージ設定2 */
.user-create-message {
    margin: 5px;
    font-size: 14px;
}